*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}

.main h1{
    position: relative;
    font-size: 55px;
    top: 80px;
    left: 25px;
    color: #868585;
}

.main h1 span{
    color: #089da1;
}

.main p{
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
    color:#fff
}

.main .main-tag .main-btn{
    background: #089da1;
    padding: 10px 20px;
    position: relative;
    top: 200px;
    left: 25px;
    color: #fff;
    text-decoration: none;
}

.main .main-img img{
    width: 780px;
    position: relative;
    top: 90px;
    left: 20px;
}

.services{
    width: 100%;
    height: auto;
    /* margin: 300px 0; */
    margin-top: 250px;
    margin-bottom: 100px;
    color:#fff
}

.services .service-box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.services .service-box .service-card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 8px #089da1;
    padding: 15px 10px;
}

.services .service-box .service-card i{
    color: #089da1;
    font-size: 45px;
    margin-bottom: 15px;
    cursor: pointer;
}

.services .service-box .service-card h3{
    margin-bottom: 10px;
}

.about{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.about .about-image img{
    width: 800px;
}

.about .about-tag h1{
    font-size: 50px;
    position: relative;
    bottom: 35px;

}

.about .about-tag p{
    /* line-height: 14; */
    width: 650px;
    text-align: justify;
    margin-bottom: 15px;

}

.about .about-tag .about-btn{
    padding: 10px 20px;
    background: #089da1;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 50px;

}

.featured-books{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.featured-books h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
    color: #fff;
}

.featured-books .featured-book-box{
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}

.featured-books .featured-book-box .featured-book-card{
    width: 250px;
    height: 420px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 2px;
    color: #fff;
}

.featured-books .featured-book-box .featured-book-card:hover{
    box-shadow: 0 0 5px #089da1;
}

.featured-books .featured-book-box .featured-book-card .featured-book-img img{
    width: 150px;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag h2{
    margin: 8px;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .writer{
    color: #919191;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .categories{
    color: #089da1;
    margin-top: 5px;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .book-price{
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 15px;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .book-price sub{
    font-weight: 100;
    padding: 0 5px;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
    
}

.arrivals{
    width: 100%;
    height: 100vh;
    margin-bottom: 9%;
}

.arrivals h1{
    font-size: 50px; 
    text-align: center;
    margin-bottom: 35px;
    color: #fff;
}

.arrivals .arrivals-box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.arrivals .arrivals-box .arrivals-card{
    width: 250px;
    height: 340px;
    text-align: center;
    padding: 5px;
    border: 1px solid #fff;
}

.arrivals .arrivals-box .arrivals-card:hover{
    box-shadow: 0 0 5px #089da1;
}

.arrivals .arrivals-box .arrivals-card .arrivals-image{
    width: 150px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.arrivals .arrivals-box .arrivals-card .arrivals-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.arrivals .arrivals-box .arrivals-card:hover .arrivals-image img{
    transform: scale(1.1);
}

.arrivals .arrivals-box .arrivals-card .arrivals-tag p{
    font-family: queen of camelot;
    font-size: 20px;
    margin: 8px 0;
    color: #fff;
}

.arrivals .arrivals-box .arrivals-card .arrivals-tag .arrivals-icon{
    color: #089da1;
    margin-bottom: 18px;
}

/* .reviews{
    width: 100%;
    height: auto;
    background: black;
}

.reviews h1{
    text-align: center;
    font-size: 50px;
    margin-top: 55px;
    color: #fff;
}

.reviews .review-box{
    width: 95%;
    height: 50vh;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: #fff;
}

.reviews .review-box .review-card{
    width: 400px;
    height: 320px;
    box-shadow: 0 0 8px #089da1;
    padding: 15px;
    margin: 0 12px;
}

.reviews .review-box .review-card i{
    float: right;
    font-size: 120px;
    position: relative;
    bottom: 20px;
    color: #eaeaea;
}

.reviews .review-box .review-card .card-top img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.reviews .review-box .review-card .card p{
    margin: 10px 0 10px 0;
    text-align: justify;
    line-height: 13px;
}

.reviews .review-box .review-card .card .review-icon i{
    font-size: 16px;
    float: left;
    margin-top: 20px;
    color: #089da1;
    padding: 0 1px;
} */

.banner{
    width: 100%;
    height: 50vh;
    background-image: url(image/banner.jpg);
    background-size: cover;
    background-position: center;
}

.banner .banner_btn{
    padding: 8px 20px;
    background: #089da1;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 70%;
    left: 7%;
}




/*Blog*/

.blog{
    margin-top:5%;
    width: 100%;
    height: auto;
    margin: 25px 0;
}

.blog h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    color: #fff;
}

.blog .blog_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.blog .blog_box .blog_card{
    margin: 0 auto;
    width: 450px;
    height: auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.blog .blog_box .blog_card .blog_img{
    width: 450px;
    height: 300px;
    overflow: hidden;
}

.blog .blog_box .blog_card .blog_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog .blog_box .blog_card .blog_tag{
    padding: 20px;
}

.blog .blog_box .blog_card .blog_tag h2{
    color: #089da1;
}

.blog .blog_box .blog_card .blog_tag p{
    margin-top: 10px;
    text-align: justify;
    line-height: 22px;
    color: #fff;
}

.blog .blog_box .blog_card .blog_tag .blog_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #089da1;
    cursor: pointer;
}




/*Footer*/

footer{
    width: 100%;
    background: black;
}

footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag img{
    width: 100px;
    margin-bottom: 10px;
}

footer .footer_main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
    color: #fff;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #fff
}

footer .footer_main .tag a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag i{
    margin-right: 10px;
}

footer .footer_main .tag .social_link i{
    margin: 0 5px;
    color: #fff;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgba(202,202,202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    outline: none;
    font-size: 13px;
    background: none;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: #089da1;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #fff;
}

footer .end span{
    color: #089da1;
    margin-left: 10px;
}
